/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Контейнер для центрирования */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовки */
h1, h2 {
    color: #333;
}

h2 {
    color: #007bff; /* Заголовок с синим цветом */
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: #007bff;
    color: white;
}

td {
    background: #fff;
    color: #000000; 
}

/* Кнопка на главную */
a {
    display: inline-block;
    padding: 12px 25px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

a:hover {
    background: #0056b3;
}
